
:root{
    --primary-color: green;
    --secondary-color: yellow;
}

*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display:flex;
    flex-direction:column;
    margin:0;
}

/* style nav bar */

nav{
    background-color: var(--primary-color);
    position: fixed;
    height: 100vh;
    width:200px;
    display:flex;
    flex-direction: column;
    align-items:center;
    transform: translateX(-100%);
}

nav .logo{
margin-bottom: 50px;
padding:10px;
    
}
nav .logo img{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    
}

nav ul{
    list-style-type:none;
    padding:0;
    width:100%;
   
}
nav ul li{
    padding:20px;
    border-bottom: 2px solid var(--secondary-color);
}
nav ul li:first-of-type{
    border-top: 2px solid var(--secondary-color);
}

nav ul li a{
    text-decoration:none;
    color:#fff;
}


nav ul li a:hover{
    text-decoration:underline;

}

/* style the header */

header{
    background-color: var(--primary-color);
    text-align: center;
    position:relative;
    color:#fff;
    font-size:130%;
    padding:50px;
}

header .toggle{
    position: absolute;
    top:10px;
    left:10px;

}

button, input[type='submit']{
    border-radius: 10px;
    padding: 10px 20px;
}

button.sign-up{
    border:0;
    background-color: var(--secondary-color);
}


/* style container */

.container{
    padding: 20px;
}