
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root{
    --primary-color: green;
    --secondary-color: yellow;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'lato', sans-serif;
    margin:0;
}

body.show-nav{
    /* 200px is the width of nav , it pushes everything on the body 200px to the right  */
transform: translatex(200px);
}

/* style nav bar */

nav{
    background-color: var(--primary-color);
    position: fixed;
    top:0;
    Left:0;
    height: 100vh;
    width:200px;
    z-index:100;
    /* display:flex;
    flex-direction: column;
    align-items:center; */
    transform: translateX(-100%);
}

nav.show-nav{
    /* 200px is the width of nav */
       transform:translateX(200px);
}

nav .logo{
margin-bottom: 50px;
padding:10px;
text-align: center;
    
}
nav .logo img{
    /* border-radius: 50px; */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}

nav ul{
    list-style-type:none;
    padding:0;
    width:100%;
   
}
nav ul li{
    padding:20px;
    border-bottom: 2px solid var(--secondary-color);
}
nav ul li:first-of-type{
    border-top: 2px solid var(--secondary-color);
}

nav ul li a{
    text-decoration:none;
    color:#fff;
}


nav ul li a:hover{
    text-decoration:underline;

}

/* style the header */

header{
    background-color: var(--primary-color);
    text-align: center;
    position:relative;
    color:#fff;
    font-size:130%;
    padding:50px;
}

header .toggle{
    position: absolute;
    top:10px;
    left:10px;

}

button, input[type='submit']{
    border-radius: 10px;
    border:0;
    cursor:pointer;
    color:#fff;
    background-color: var(--secondary-color);
    padding: 8px 12px;


}

button.sign-up{
    border:0;
    background-color: var(--secondary-color);
}


/* style container */

.container{
    padding: 20px;
    margin:0 auto;
    max-width:100%;
    width:800px;
}


/* style modal */

.modal-container{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.6);
    display:none;
}

.modal-container.show-modal{
    display:block;
}

.modal{
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    width:400px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3)

}
.modal .close-btn{
    position: absolute;
    top:0;
    right:0;
   background-color: transparent;


}

.modal .modal-header{
    background-color: var(--primary-color);
    padding:5px 10px;
    margin-top:10px;
}

.modal-content{
    padding: 5px 10px;
}

.modal-content label{
    display:block;
   margin-bottom:5px;
}
.modal-content .form-input{
 width:100%;
}
