
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
*{
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    background-color: #666;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin:0;
    font-family: 'Questrial', sans-serif;
     letter-spacing: 2px;

}
h1{
    color: #fff;
}

.screen {
    width:70%;
    background-color: #000;
    border-radius: 10px 10px 0 0;
}

.controls{
    width: 70%;
    background-color: #333;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    padding:10px;
}
.controls .btn{
    background: transparent;
    cursor:pointer;
    border:0;
}

.btn:focus{
    outline: none;
}

.controls .fa-play {
    color: #28a745;
  }
  
  .controls .fa-stop {
    color: #dc3545;
  }
  
  .controls .fa-pause {
    color: #fff;
  }

  .controls .timestamp{
      font-weight: bold;
      margin-left:10px;
      color: #fff;

  }
@media(max-width:800px){
    .screen, .controls {
        width:90%;
    }

}